<div class="projects-container">
    <h2>My Projects</h2>
    <div class="projects-grid">
      <div *ngFor="let project of filteredProjects" class="project-card">
        <img [src]="project.imageUrl" [alt]="project.title">
        <div class="project-info">
          <h3>{{ project.title }}</h3>
          <p class="project-status">
            Status: {{ project.status }}
          </p>
        </div>
      </div>
    </div>
</div>
  

<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <app-card
        *ngFor="let project of projects"
        [img]="project.imageUrl"
        [imgtxt]="project.imageUrl"
        [title]="project.name"
        ></app-card>
      </div>
    </div>
  </section>